#album{
  position: relative;
  width: 800px;
  height: 600px;
}
#photo{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}
.btn{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  z-index: 110;
  cursor: pointer;
}
#btn-close{
  display: none;
}